.card {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem 2rem;
    font-family: 'cantarell', sans-serif;
} 
.card-details {
    width: 300px;
    height: 300px;
    box-shadow: 1px 1px 5px gray;
    text-align: center;
    margin-top: 2rem;
    padding: 50px 0;
    border-radius: 5px;
    cursor: pointer;
}
.card-details h4 {
    padding: 5px;
}
.card-details:hover {
    transform: scale(1.05,1.09);
}
.card-details button {
    border: none;
      color: #00df9a;
    width: 150px;
    height: 32px;
    font-family: "Cantarell", sans-serif;
    margin-top: 10px;
    font-size: 12px;
    border-radius: 5px;
   
    cursor: pointer;
    margin-top: 1rem;
    background-color: black;
    
}
.trans {
    background:rgb(240, 245, 255);
}
@media (max-width:550px) {
    .card {
        justify-content: center;
        flex-direction: column;
        gap: 2rem;
    }
    .card-details {
        width: 250px;
    }
}
